<div *ngIf="errorMessage" class="alert alert-danger">
  Info erreur: {{errorMessage}}
</div>

<div class="card">
  <div class="card-header">{{ pageTitle }}</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Recherche: </div>
      <div class="col-md-4"><input type="text" [(ngModel)] = "listFilter"/></div>
    </div>
    <div class="row" *ngIf="listFilter">
      <div class="col-md-6">
        <h4>Recherche : {{listFilter}}</h4>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0" *ngIf="recipes && recipes.length">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Categorie</th>
            <th>Ingredients</th>
            <th>Evaluation</th>
            <th>
              <button class="btn btn-outline-primary btn-sm" (click)="toggleImage()">
                  {{ showImage ? "Cacher ":"Afficher "}} Image
              </button>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recipe of recipes; let i = index">
            <td>
              {{recipe.recipeName}}
            </td>
            <td>
              {{recipe.description}}
            </td>
            <td>
              {{recipe.category}}
            </td>
            <td>
              {{recipe.ingredients.toString()}}
            </td>
            <td>
              <app-star [rating]="recipe.starRating"></app-star>
            </td>
            <td>
              <img *ngIf="showImage && recipe.imageUrl" [src]='recipe.imageUrl', [title] ="recipe.recipeName", [style.width.px]="imageWidth", [style.margin.px]="imageMargin">
            </td>
            <td>
              <button class="btn btn-outline-primary btn-sm">
                Modifier
              </button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>
</div>
