<div *ngIf="errorMessage" class="alert alert-danger">
  Info erreur: {{errorMessage}}
</div>

<div class="card">
  <div class="card-header text-center">{{ pageTitle }}</div>
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-md-2">Recherche: </div>
      <div class="col-md-4">
        <input type="text" [(ngModel)] = "listFilter"/>
      </div>
    </div>


    <div class="table-responsive">
      <table class="table mb-0" *ngIf="recipes && recipes.length">
        <thead>
          <tr class="text-center">
            <th>Nom</th>
            <th>Description</th>
            <th>Categorie</th>
            <th>Ingredients</th>
            <th>Evaluation</th>
            <th>Image</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recipe of filteredRecipes; let i = index">
            <td>
              <a [routerLink]="['/recipes', recipe.id]" [queryParams]="{filterBy: listFilter}">{{recipe.recipeName}}</a>
            </td>
            <td>
              {{recipe.description}}
            </td>
            <td>
              {{recipe.category}}
            </td>
            <td>
              {{recipe.ingredients}}
            </td>
            <td>
              <app-star [rating]="recipe.starRating"></app-star>
            </td>
            <td>
              <img [src]='recipe.imageUrl' [title] ="recipe.recipeName" [style.width.px]="imageWidth" [style.margin.px]="imageMargin">
            </td>
            <td>
              <button class="btn btn-outline-primary btn-sm" [routerLink]="['/recipes',recipe.id,'edit']">
                Modifier
              </button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>
</div>
