<div class="alert alert-danger text-center" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<div class="card">
  <div class="card-header text-center text-white bg-dark">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <form novalidate #recipeForm="ngForm" *ngIf="recipe">
        <div class="form-group row">
          <label class="col-form-label col-md-2" for="nom">Nom</label>
          <div class="col-md-8">
            <input class = "form-control"
                id = "nom"
                type = "text"
                required
                placeholder ="Le nom de la recette (obligatoire)"
                minlength = 3
                [(ngModel)] = recipe.recipeName
                name="nom"
                #nomVar="ngModel"
                [ngClass]="{'is-invalid': (nomVar.touched || nomVar.dirty) && !nomVar.valid}"/>
                <span class="invalid-feedback">
                  <span *ngIf="nomVar.errors?.required">
                    Le nom de la recette est obligatoire
                  </span>
                  <span *ngIf="nomVar.errors?.minlength">
                    Le nom de la recette doit contenir au minimum 3 caractères
                  </span>
                </span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-2" for="description">Description</label>
          <div class="col-md-8">
            <textarea
              class="form-control"
              id="description"
              rows="3"
              required
              minlength = 10
              placeholder = "La description de la recette est obligatoire"
              [(ngModel)] = recipe.description
              name="description"
              #descriptionVar="ngModel"
              [ngClass] = "{'is-invalid': (descriptionVar.touched || descriptionVar.dirty) && !descriptionVar.valid}">
            </textarea>
            <span class="invalid-feedback">
              <span *ngIf="descriptionVar.errors?.required">
                La description de la recette est obligatoire
              </span>
              <span *ngIf="descriptionVar.errors?.minlength">
                La description de la recette doit contenir au minimum 20 caractères
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-2" for="categorie">Categorie</label>
          <div class="col-md-8">
            <input class = "form-control"
                   id = "categorie"
                   type = "text"
                   placeholder ="Le nom de la recette (obligatoire)"
                   minlength = 3
                   [(ngModel)] = recipe.category
                   name="categorie"/>
          </div>
        </div>

      <div class="form-group row">
        <label class="col-form-label col-md-2" for="image">Image</label>
        <div class="col-md-8">
          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="image">
              <label class="custom-file-label" for="image">Choisir une image</label>
            </div>
          </div>
        </div>
      </div>

        <div class="form-group row">
          <label class="col-form-label col-md-2" for="ingredient">Ingredients</label>
          <div class="col-md-8">
            <textarea
              class="form-control"
              id="ingredient"
              rows="3"
              required
              minlength = 20
              placeholder = "Les ingrédients de la recette est obligatoire"
              [(ngModel)] = recipe.ingredients
              name="ingredient"
              #ingredientVar="ngModel"
              [ngClass] = "{'is-invalid': (ingredientVar.touched || ingredientVar.dirty) && !ingredientVar.valid}">
            </textarea>
            <span class="invalid-feedback">
              <span *ngIf="ingredientVar.errors?.required">
                Les ingrédtient de la recette est obligatoire
              </span>
              <span *ngIf="ingredientVar.errors?.minlength">
                Les ingrédtient de la recette doit contenir au minimum 20 caractères
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row mb-5">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <button class="btn btn-success mr-3"
            style="width: 120px;"
            type="button"
            [title] ="recipeForm.valid ? 'Enregistre vos données' : 'Desactiver (attente validation du formulaire)'"
            [disabled]="!recipeForm.valid"
            (click)="saveProduct()">
              Enregistrer
            </button>
            <button class="btn btn-primary mr-3"
              style="width: 120px;"
              type="button"
              title="Annuler la création" [routerLink]="['/recipes']" queryParamsHandling="preserve">
              Annuler
            </button>
            <button class="btn btn-danger mr-3"
              style="width: 120px;"
              type="button"
              title="Supprimer la recette"
              (click)="deleteRecipe()">
              Supprimer
            </button>

          </div>
        </div>
    </form>
  </div>
</div>
