<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand">{{title}}</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/welcome']" routerLinkActive="active">Acceuil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/recipes']" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Recettes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/recipes',0, 'edit']" routerLinkActive="active">Créer une Recette</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item m-1" *ngIf="isLoggedIn">
        <a class="nav-link" [routerLink]="['/welcome']" routerLinkActive="active">Bienvenue {{userName}}</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link" (click)="displayMessages()" *ngIf="!isMessageDisplayed">Afficher Messages</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link" (click)="hideMessages()" *ngIf="isMessageDisplayed ">Cacher Messages</a>
      </li>
      <li class="nav-item m-1" *ngIf="!isLoggedIn">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Connexion</a>
      </li>
      <li class="nav-item m-1" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="logout()">Déconnexion</a>
      </li>
    </ul>
</nav>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-10">
      <router-outlet ></router-outlet>
    </div>
    <div class="col-md-2">
      <router-outlet name="message"></router-outlet>
    </div>
  </div>

</div>
